<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/CSS/gatos.css">
    <title>Ayuda a un peludo</title>
</head>
    <header>
        <nav class="navbar navbar-expand-lg header">
            <div class="container-fluid">
              <a class="navbar-brand" href="../index.html">
                <img src="../static/Images/index_peludos.png" alt="logo" width="150" height="150"  class="d-inline-block align-text-top">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="info.html">Quienes Somos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contacto.html">Contactanos</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <body>
        <section>  
            <table>
                <tr>
                    <td>
                        <img id="adopta" src="../static/Images/Gato1.jpg" width="400rem" height="300rem"></img>
                    </td>
                    <td>
                        <div>
                            <table id="tabla" class="table table-striped">
                                <tr>
                                    <h2>Bio</h2>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Pelusa</th>
                                </tr>
                                <tr>
                                    <th scope="col">Edad</th>
                                    <th scope="col">5 años</th>
                                </tr>
                                <tr>
                                    <th scope="col">Raza</th>
                                    <th scope="col">Mestizo</th>
                                </tr>
                                <tr>
                                    <th scope="col">Sexo</th>
                                    <th scope="col">Masculino</th>
                                </tr>
                                <tr>
                                    <th scope="col">Tamaño</th>
                                    <th scope="col">G</th>
                                </tr>
                            </table >
                            <table id="tabla" class="table table-striped">
                                <tr>
                                    <h2>Más información</h2>
                                    <th scope="col">Se adapta a departamento</th>
                                    <th scope="col">Sí</th>
                                </tr>
                                <tr>
                                    <th scope="col">Convive con niños</th>
                                    <th scope="col">Sí</th>
                                </tr>
                                <tr>
                                    <th scope="col">Convive con perros</th>
                                    <th scope="col">No</th>
                                </tr>
                                <tr>
                                    <th scope="col">Convive con gatos</th>
                                    <th scope="col">Sí</th>
                                </tr>
                                <tr>
                                    <th scope="col">Nivel de energía</th>
                                    <th scope="col">Media</th>
                                </tr>
                          </table>
                        </div>
                    </td>
                </tr>
            </table>
        </section>      
    </body>
    <footer class="container-fluid position-absolute bottom-0 start-0 footer">
        <div class="row justify-content-center">
            <div class="col-1">
                <h3>DuocUc</h3>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    </html>